.flight-details-container {
  background-size: cover;
  background-position: center;
}

.custom-card {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(50px);
  margin: 0 10px;
  translate: translate(-50px, -50px);
}

.flight-list-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* position: relative; */
}

.bg-dark-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.flight-logo {
  width: 80px;
  height: 80px;
}

.flight-logo img {
  max-width: 100%;
  height: auto;
}

.table th,
.table td {
  vertical-align: middle;
}

.btn-link {
  display: flex;
  align-items: center;
}

.badge-ontime {
  background-color: #2196f3;
  color: white;
}

.badge-delayed {
  background-color: #ff4c4c;
  color: white;
}

.badge-departed {
  background-color: #4caf50;
  color: white;
}

.badge-boarding {
  background-color: #ffa500;
  color: white;
}

.badge-default {
  background-color: #ccc;
  color: black;
}

.logo {
  display: inline;
}
.desktop-view {
  display: block;
}
.mobile-view {
  display: none;
}
@media only screen and (max-width: 600px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 999px) {
  .carousel {
    display: none;
  }
}
